*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
header{
    background-image: url(../images/banner/banner3.png);
    height: 100vh;  
    background-repeat: no-repeat;
}
.header-container{
    text-align: right;
    padding-top: 224px;
    padding-right: 230px;
    
}
.header-title{
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}
.header-description{
    font-size: 16px;
    color: #FFFFFF;
    line-height: 26px;
    margin-top: 24px;
}
.btn-primary{
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    padding: 20px 26px;
    border: none;
    border-radius: 5px;
    margin-top: 32px;
}
/* failure section styles */

.failure-container{
    display: flex;
    gap: 80px;
    margin-top: 132px;
    margin-right: 210px;
    margin-left: 210px;
    align-items: center;
}
/* .failure-img{

}
.failure-text{
   
} */
.failure-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    line-height: 47px;
    margin-bottom: 24px;
}
.failure-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 416px;
}
.failure-list{
    margin-top: 20px;
}
.failure-checklist{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 10px;
}
.fa-solid, fa-check{
    color: #16D887;
}
/* develop section styles */
.develop-container{
    display: flex;
    gap: 50px;
    align-items: center;
    margin-right: 210px;
    margin-left: 210px;
    margin-top: 200px;
}
.develop-text{
    width: 50%;
}
.develop-img{
    width: 50%;
}
.develop-img img{
    width: 80%;
}